[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pandas = "==1.1.5"
requests = "==2.25.1"
pydantic = "==1.8.2"
celery = "*"
sqlalchemy = "==1.4.20"
financialdata = {editable = true,path = "."}
pymysql = "==1.0.2"
loguru = "==0.5.3"
apscheduler = "*"
pytest-cov = "==2.11.1"
pytest-mock = "==3.5.1"

[requires]
python_version = "3.6"
