[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.63.0"
pandas = "*"
pymysql = "*"
sqlalchemy = "*"
api = {editable = true, path = "."}
uvicorn = "*"
pytest-cov = "==2.11.1"
pytest-mock = "==3.5.1"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
