[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.63.0"
pandas = "==1.1.5"
pymysql = "==1.0.2"
sqlalchemy = "==1.4.20"
uvicorn = "==0.14.0"

[dev-packages]

[requires]
python_version = "3.6"
