[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "==1.4.20"
pymysql = "==1.0.2"
loguru = "==0.5.3"
pandas = "==1.1.5"
requests = "==2.25.1"

[requires]
python_version = "3.6"
